<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict><key>longitude</key><real>-76.91546</real><key>latitude</key><real>39.316412</real></dict>
    <dict><key>longitude</key><real>-76.915509</real><key>latitude</key><real>39.316182</real></dict>
    <dict><key>longitude</key><real>-76.915512</real><key>latitude</key><real>39.316168</real></dict>
    <dict><key>longitude</key><real>-76.915516</real><key>latitude</key><real>39.316154</real></dict>
    <dict><key>longitude</key><real>-76.915519</real><key>latitude</key><real>39.316142</real></dict>
    <dict><key>longitude</key><real>-76.915808</real><key>latitude</key><real>39.315588</real></dict>
    <dict><key>longitude</key><real>-76.915578</real><key>latitude</key><real>39.314195</real></dict>
    <dict><key>longitude</key><real>-76.908888</real><key>latitude</key><real>39.315242</real></dict>
    <dict><key>longitude</key><real>-76.908899</real><key>latitude</key><real>39.315313</real></dict>
    <dict><key>longitude</key><real>-76.908885</real><key>latitude</key><real>39.31539</real></dict>
    <dict><key>longitude</key><real>-76.908824</real><key>latitude</key><real>39.31549</real></dict>
    <dict><key>longitude</key><real>-76.908704</real><key>latitude</key><real>39.315617</real></dict>
    <dict><key>longitude</key><real>-76.908057</real><key>latitude</key><real>39.316152</real></dict>
    <dict><key>longitude</key><real>-76.908029</real><key>latitude</key><real>39.316176</real></dict>
    <dict><key>longitude</key><real>-76.907886</real><key>latitude</key><real>39.316306</real></dict>
    <dict><key>longitude</key><real>-76.907715</real><key>latitude</key><real>39.316465</real></dict>
    <dict><key>longitude</key><real>-76.907459</real><key>latitude</key><real>39.316747</real></dict>
    <dict><key>longitude</key><real>-76.907419</real><key>latitude</key><real>39.316808</real></dict>
    <dict><key>longitude</key><real>-76.907384</real><key>latitude</key><real>39.316907</real></dict>
    <dict><key>longitude</key><real>-76.907309</real><key>latitude</key><real>39.317282</real></dict>
    <dict><key>longitude</key><real>-76.907223</real><key>latitude</key><real>39.317735</real></dict>
    <dict><key>longitude</key><real>-76.907101</real><key>latitude</key><real>39.318292</real></dict>
    <dict><key>longitude</key><real>-76.906985</real><key>latitude</key><real>39.318697</real></dict>
    <dict><key>longitude</key><real>-76.907253</real><key>latitude</key><real>39.318802</real></dict>
    <dict><key>longitude</key><real>-76.907666</real><key>latitude</key><real>39.318949</real></dict>
    <dict><key>longitude</key><real>-76.908604</real><key>latitude</key><real>39.319253</real></dict>
    <dict><key>longitude</key><real>-76.909547</real><key>latitude</key><real>39.319569</real></dict>
    <dict><key>longitude</key><real>-76.910303</real><key>latitude</key><real>39.319855</real></dict>
    <dict><key>longitude</key><real>-76.910837</real><key>latitude</key><real>39.320075</real></dict>
    <dict><key>longitude</key><real>-76.911175</real><key>latitude</key><real>39.32023</real></dict>
    <dict><key>longitude</key><real>-76.911601</real><key>latitude</key><real>39.320413</real></dict>
    <dict><key>longitude</key><real>-76.911996</real><key>latitude</key><real>39.320585</real></dict>
    <dict><key>longitude</key><real>-76.912308</real><key>latitude</key><real>39.320727</real></dict>
    <dict><key>longitude</key><real>-76.914106</real><key>latitude</key><real>39.321688</real></dict>
    <dict><key>longitude</key><real>-76.914396</real><key>latitude</key><real>39.321833</real></dict>
    <dict><key>longitude</key><real>-76.914782</real><key>latitude</key><real>39.322044</real></dict>
    <dict><key>longitude</key><real>-76.915025</real><key>latitude</key><real>39.322132</real></dict>
    <dict><key>longitude</key><real>-76.915340</real><key>latitude</key><real>39.322186</real></dict>
    <dict><key>longitude</key><real>-76.915662</real><key>latitude</key><real>39.32219</real></dict>
    <dict><key>longitude</key><real>-76.915877</real><key>latitude</key><real>39.322166</real></dict>
    <dict><key>longitude</key><real>-76.916373</real><key>latitude</key><real>39.322083</real></dict>
    <dict><key>longitude</key><real>-76.916745</real><key>latitude</key><real>39.322004</real></dict>
    <dict><key>longitude</key><real>-76.917146</real><key>latitude</key><real>39.321924</real></dict>
    <dict><key>longitude</key><real>-76.917802</real><key>latitude</key><real>39.321798</real></dict>
    <dict><key>longitude</key><real>-76.918434</real><key>latitude</key><real>39.321676</real></dict>
    <dict><key>longitude</key><real>-76.919049</real><key>latitude</key><real>39.321564</real></dict>
    <dict><key>longitude</key><real>-76.919477</real><key>latitude</key><real>39.321488</real></dict>
    <dict><key>longitude</key><real>-76.920084</real><key>latitude</key><real>39.321357</real></dict>
    <dict><key>longitude</key><real>-76.920091</real><key>latitude</key><real>39.321287</real></dict>
    <dict><key>longitude</key><real>-76.920223</real><key>latitude</key><real>39.319643</real></dict>
    <dict><key>longitude</key><real>-76.920311</real><key>latitude</key><real>39.318549</real></dict>
    <dict><key>longitude</key><real>-76.920485</real><key>latitude</key><real>39.316406</real></dict>
    <dict><key>longitude</key><real>-76.91546</real><key>latitude</key><real>39.316412</real></dict>
</array>
</plist>
