<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict><key>longitude</key><real>-76.825396</real><key>latitude</key><real>39.137151</real></dict>
        <dict><key>longitude</key><real>-76.825149</real><key>latitude</key><real>39.136598</real></dict>
        <dict><key>longitude</key><real>-76.82462000000001</real><key>latitude</key><real>39.136604000000005</real></dict>
        <dict><key>longitude</key><real>-76.824813</real><key>latitude</key><real>39.137161</real></dict>
        <dict><key>longitude</key><real>-76.82484</real><key>latitude</key><real>39.137503</real></dict>
        <dict><key>longitude</key><real>-76.824845</real><key>latitude</key><real>39.137503</real></dict>
        <dict><key>longitude</key><real>-76.825391</real><key>latitude</key><real>39.137499</real></dict>
        <dict><key>longitude</key><real>-76.825397</real><key>latitude</key><real>39.137499</real></dict>
        <dict><key>longitude</key><real>-76.825399</real><key>latitude</key><real>39.137503</real></dict>
        <dict><key>longitude</key><real>-76.825466</real><key>latitude</key><real>39.137655</real></dict>
        <dict><key>longitude</key><real>-76.825466</real><key>latitude</key><real>39.137647</real></dict>
        <dict><key>longitude</key><real>-76.825466</real><key>latitude</key><real>39.137638</real></dict>
        <dict><key>longitude</key><real>-76.825453</real><key>latitude</key><real>39.13728</real></dict>
        <dict><key>longitude</key><real>-76.825396</real><key>latitude</key><real>39.137151</real></dict>
    </array>
</plist>



