<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-76.8257364177481</real>
		<key>latitude</key>
		<real>39.13389495952737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8255394177481</real>
		<key>latitude</key>
		<real>39.13389795952737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8252144177481</real>
		<key>latitude</key>
		<real>39.13389695952738</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.82482941774811</real>
		<key>latitude</key>
		<real>39.13419095952737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8248524177481</real>
		<key>latitude</key>
		<real>39.13425295952737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.82492441774809</real>
		<key>latitude</key>
		<real>39.13442795952738</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8249234177481</real>
		<key>latitude</key>
		<real>39.13454095952738</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8249264177481</real>
		<key>latitude</key>
		<real>39.13495195952738</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8249234177481</real>
		<key>latitude</key>
		<real>39.13499295952737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8258384177481</real>
		<key>latitude</key>
		<real>39.13500595952738</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.82583879616168</real>
		<key>latitude</key>
		<real>39.13486529200007</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.825756</real>
		<key>latitude</key>
		<real>39.134238</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8257364177481</real>
		<key>latitude</key>
		<real>39.13389495952737</real>
	</dict>
</array>
</plist>
