<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict><key>longitude</key><real>-76.882079</real><key>latitude</key><real>39.230639</real></dict>
        <dict><key>longitude</key><real>-76.881969</real><key>latitude</key><real>39.230919</real></dict>
        <dict><key>longitude</key><real>-76.881382</real><key>latitude</key><real>39.232521</real></dict>
        <dict><key>longitude</key><real>-76.881380000000007</real><key>latitude</key><real>39.232525</real></dict>
        <dict><key>longitude</key><real>-76.881380000000007</real><key>latitude</key><real>39.232529</real></dict>
        <dict><key>longitude</key><real>-76.881383</real><key>latitude</key><real>39.232647</real></dict>
        <dict><key>longitude</key><real>-76.881387</real><key>latitude</key><real>39.232862</real></dict>
        <dict><key>longitude</key><real>-76.881393</real><key>latitude</key><real>39.23308500000001</real></dict>
        <dict><key>longitude</key><real>-76.881398</real><key>latitude</key><real>39.233304</real></dict>
        <dict><key>longitude</key><real>-76.881403</real><key>latitude</key><real>39.233523</real></dict>
        <dict><key>longitude</key><real>-76.881408</real><key>latitude</key><real>39.233744</real></dict>
        <dict><key>longitude</key><real>-76.881412</real><key>latitude</key><real>39.233964</real></dict>
        <dict><key>longitude</key><real>-76.881418</real><key>latitude</key><real>39.234184</real></dict>
        <dict><key>longitude</key><real>-76.881423</real><key>latitude</key><real>39.234404</real></dict>
        <dict><key>longitude</key><real>-76.881427</real><key>latitude</key><real>39.234594</real></dict>
        <dict><key>longitude</key><real>-76.882197</real><key>latitude</key><real>39.234567</real></dict>
        <dict><key>longitude</key><real>-76.882701</real><key>latitude</key><real>39.234549</real></dict>
        <dict><key>longitude</key><real>-76.882906</real><key>latitude</key><real>39.235211000000007</real></dict>
        <dict><key>longitude</key><real>-76.882921</real><key>latitude</key><real>39.235256</real></dict>
        <dict><key>longitude</key><real>-76.88381</real><key>latitude</key><real>39.235228</real></dict>
        <dict><key>longitude</key><real>-76.883983</real><key>latitude</key><real>39.235217</real></dict>
        <dict><key>longitude</key><real>-76.884592</real><key>latitude</key><real>39.23515</real></dict>
        <dict><key>longitude</key><real>-76.884496000000013</real><key>latitude</key><real>39.234901</real></dict>
        <dict><key>longitude</key><real>-76.884419</real><key>latitude</key><real>39.234705</real></dict>
        <dict><key>longitude</key><real>-76.884352</real><key>latitude</key><real>39.234531</real></dict>
        <dict><key>longitude</key><real>-76.884281</real><key>latitude</key><real>39.234349</real></dict>
        <dict><key>longitude</key><real>-76.884205</real><key>latitude</key><real>39.234155</real></dict>
        <dict><key>longitude</key><real>-76.884083</real><key>latitude</key><real>39.23384</real></dict>
        <dict><key>longitude</key><real>-76.884636</real><key>latitude</key><real>39.233727</real></dict>
        <dict><key>longitude</key><real>-76.885009</real><key>latitude</key><real>39.233651</real></dict>
        <dict><key>longitude</key><real>-76.885315</real><key>latitude</key><real>39.233588</real></dict>
        <dict><key>longitude</key><real>-76.885377</real><key>latitude</key><real>39.233576</real></dict>
        <dict><key>longitude</key><real>-76.885438</real><key>latitude</key><real>39.233563</real></dict>
        <dict><key>longitude</key><real>-76.885026</real><key>latitude</key><real>39.23271</real></dict>
        <dict><key>longitude</key><real>-76.884409</real><key>latitude</key><real>39.23143</real></dict>
        <dict><key>longitude</key><real>-76.885377</real><key>latitude</key><real>39.231756</real></dict>
        <dict><key>longitude</key><real>-76.885552</real><key>latitude</key><real>39.231489</real></dict>
        <dict><key>longitude</key><real>-76.886346</real><key>latitude</key><real>39.230288</real></dict>
        <dict><key>longitude</key><real>-76.886744</real><key>latitude</key><real>39.230232</real></dict>
        <dict><key>longitude</key><real>-76.887245</real><key>latitude</key><real>39.230162</real></dict>
        <dict><key>longitude</key><real>-76.887294</real><key>latitude</key><real>39.23051</real></dict>
        <dict><key>longitude</key><real>-76.887321</real><key>latitude</key><real>39.230709</real></dict>
        <dict><key>longitude</key><real>-76.887369</real><key>latitude</key><real>39.231047</real></dict>
        <dict><key>longitude</key><real>-76.887414</real><key>latitude</key><real>39.231373</real></dict>
        <dict><key>longitude</key><real>-76.887463</real><key>latitude</key><real>39.231723</real></dict>
        <dict><key>longitude</key><real>-76.887493</real><key>latitude</key><real>39.231934</real></dict>
        <dict><key>longitude</key><real>-76.88754</real><key>latitude</key><real>39.232216</real></dict>
        <dict><key>longitude</key><real>-76.887582</real><key>latitude</key><real>39.232498</real></dict>
        <dict><key>longitude</key><real>-76.88759</real><key>latitude</key><real>39.232551</real></dict>
        <dict><key>longitude</key><real>-76.887598</real><key>latitude</key><real>39.232601</real></dict>
        <dict><key>longitude</key><real>-76.888621</real><key>latitude</key><real>39.23243</real></dict>
        <dict><key>longitude</key><real>-76.890142</real><key>latitude</key><real>39.232173</real></dict>
        <dict><key>longitude</key><real>-76.88951</real><key>latitude</key><real>39.229765</real></dict>
        <dict><key>longitude</key><real>-76.889397</real><key>latitude</key><real>39.229332</real></dict>
        <dict><key>longitude</key><real>-76.889281</real><key>latitude</key><real>39.228888</real></dict>
        <dict><key>longitude</key><real>-76.889256000000017</real><key>latitude</key><real>39.2288</real></dict>
        <dict><key>longitude</key><real>-76.889248</real><key>latitude</key><real>39.228752</real></dict>
        <dict><key>longitude</key><real>-76.889213</real><key>latitude</key><real>39.228555</real></dict>
        <dict><key>longitude</key><real>-76.889185</real><key>latitude</key><real>39.228288</real></dict>
        <dict><key>longitude</key><real>-76.889111</real><key>latitude</key><real>39.227619</real></dict>
        <dict><key>longitude</key><real>-76.889106</real><key>latitude</key><real>39.227552</real></dict>
        <dict><key>longitude</key><real>-76.88911</real><key>latitude</key><real>39.227428</real></dict>
        <dict><key>longitude</key><real>-76.88913</real><key>latitude</key><real>39.227306</real></dict>
        <dict><key>longitude</key><real>-76.889166</real><key>latitude</key><real>39.227188</real></dict>
        <dict><key>longitude</key><real>-76.889116</real><key>latitude</key><real>39.22674</real></dict>
        <dict><key>longitude</key><real>-76.889064</real><key>latitude</key><real>39.226752</real></dict>
        <dict><key>longitude</key><real>-76.889058</real><key>latitude</key><real>39.226699</real></dict>
        <dict><key>longitude</key><real>-76.889029</real><key>latitude</key><real>39.226706</real></dict>
        <dict><key>longitude</key><real>-76.889023</real><key>latitude</key><real>39.226707</real></dict>
        <dict><key>longitude</key><real>-76.889018</real><key>latitude</key><real>39.226708</real></dict>
        <dict><key>longitude</key><real>-76.888295</real><key>latitude</key><real>39.22687</real></dict>
        <dict><key>longitude</key><real>-76.887602</real><key>latitude</key><real>39.227081</real></dict>
        <dict><key>longitude</key><real>-76.885734</real><key>latitude</key><real>39.227498</real></dict>
        <dict><key>longitude</key><real>-76.885676</real><key>latitude</key><real>39.227512</real></dict>
        <dict><key>longitude</key><real>-76.885633</real><key>latitude</key><real>39.227467</real></dict>
        <dict><key>longitude</key><real>-76.885216</real><key>latitude</key><real>39.227028</real></dict>
        <dict><key>longitude</key><real>-76.885077</real><key>latitude</key><real>39.227189</real></dict>
        <dict><key>longitude</key><real>-76.884906</real><key>latitude</key><real>39.227386</real></dict>
        <dict><key>longitude</key><real>-76.884667</real><key>latitude</key><real>39.22766</real></dict>
        <dict><key>longitude</key><real>-76.884477</real><key>latitude</key><real>39.227879</real></dict>
        <dict><key>longitude</key><real>-76.884296</real><key>latitude</key><real>39.228087</real></dict>
        <dict><key>longitude</key><real>-76.884112</real><key>latitude</key><real>39.2283</real></dict>
        <dict><key>longitude</key><real>-76.883907</real><key>latitude</key><real>39.228535</real></dict>
        <dict><key>longitude</key><real>-76.883561</real><key>latitude</key><real>39.228933</real></dict>
        <dict><key>longitude</key><real>-76.8835</real><key>latitude</key><real>39.229003</real></dict>
        <dict><key>longitude</key><real>-76.88344</real><key>latitude</key><real>39.229073</real></dict>
        <dict><key>longitude</key><real>-76.883143</real><key>latitude</key><real>39.229414</real></dict>
        <dict><key>longitude</key><real>-76.882808</real><key>latitude</key><real>39.2298</real></dict>
        <dict><key>longitude</key><real>-76.88255</real><key>latitude</key><real>39.230097000000008</real></dict>
        <dict><key>longitude</key><real>-76.882257</real><key>latitude</key><real>39.230434</real></dict>
        <dict><key>longitude</key><real>-76.882079</real><key>latitude</key><real>39.230639</real></dict>
    </array>
</plist>
