<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-76.79300664648456</real>
		<key>latitude</key>
		<real>39.17151766301631</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.7931145970735</real>
		<key>latitude</key>
		<real>39.17166891848311</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79344159988018</real>
		<key>latitude</key>
		<real>39.17210501198156</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79376621175753</real>
		<key>latitude</key>
		<real>39.17229923568091</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79473135979941</real>
		<key>latitude</key>
		<real>39.17231941027038</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79473144399786</real>
		<key>latitude</key>
		<real>39.17193290911771</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79473155372837</real>
		<key>latitude</key>
		<real>39.17153756906213</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79473156301309</real>
		<key>latitude</key>
		<real>39.17153435492985</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79471297018826</real>
		<key>latitude</key>
		<real>39.17153834007128</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79467269927143</real>
		<key>latitude</key>
		<real>39.17154228725806</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79463759908934</real>
		<key>latitude</key>
		<real>39.17154302933697</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79463140534931</real>
		<key>latitude</key>
		<real>39.17154301849102</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79462624389927</real>
		<key>latitude</key>
		<real>39.17154300945249</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.79300664648456</real>
		<key>latitude</key>
		<real>39.17151766301631</real>
	</dict>
</array>
</plist>
