<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-76.86818898038571</real>
		<key>latitude</key>
		<real>39.23587884899129</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.867981566232</real>
		<key>latitude</key>
		<real>39.23573639252859</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86772115462072</real>
		<key>latitude</key>
		<real>39.23575699093543</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86753407788291</real>
		<key>latitude</key>
		<real>39.23579052789429</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86704304285396</real>
		<key>latitude</key>
		<real>39.23592496442828</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86606498190163</real>
		<key>latitude</key>
		<real>39.23625651060235</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86299791798774</real>
		<key>latitude</key>
		<real>39.23754664104798</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85819331911607</real>
		<key>latitude</key>
		<real>39.23804876099184</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85829811039248</real>
		<key>latitude</key>
		<real>39.23886767586737</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85777520154659</real>
		<key>latitude</key>
		<real>39.23890400548233</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85766525156482</real>
		<key>latitude</key>
		<real>39.23808428036484</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85540306813039</real>
		<key>latitude</key>
		<real>39.23826793266079</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85441496523482</real>
		<key>latitude</key>
		<real>39.23841536286591</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84848901681451</real>
		<key>latitude</key>
		<real>39.23946128065374</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8481340131511</real>
		<key>latitude</key>
		<real>39.23968385069955</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84741705742402</real>
		<key>latitude</key>
		<real>39.23965345289691</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8473563457712</real>
		<key>latitude</key>
		<real>39.23965686699406</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84730362007419</real>
		<key>latitude</key>
		<real>39.23967433797326</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84719391205662</real>
		<key>latitude</key>
		<real>39.23974437327082</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84698380156242</real>
		<key>latitude</key>
		<real>39.23995100152786</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84686956833663</real>
		<key>latitude</key>
		<real>39.24025281050054</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84683974397559</real>
		<key>latitude</key>
		<real>39.24080103039897</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84674125666217</real>
		<key>latitude</key>
		<real>39.2415403625026</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84672210684852</real>
		<key>latitude</key>
		<real>39.24192326651898</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84657424140059</real>
		<key>latitude</key>
		<real>39.24279488351202</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84650277515723</real>
		<key>latitude</key>
		<real>39.24333539740011</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.846486880567</real>
		<key>latitude</key>
		<real>39.24353042214383</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84647973493769</real>
		<key>latitude</key>
		<real>39.24383576802795</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84646134745066</real>
		<key>latitude</key>
		<real>39.24391382129689</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84643331738965</real>
		<key>latitude</key>
		<real>39.24396606621697</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8463698259466</real>
		<key>latitude</key>
		<real>39.24403404229075</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84627923260041</real>
		<key>latitude</key>
		<real>39.24407226678148</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84619289337199</real>
		<key>latitude</key>
		<real>39.24406792904345</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84609339028034</real>
		<key>latitude</key>
		<real>39.24403555670959</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84601358207105</real>
		<key>latitude</key>
		<real>39.24398753767215</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84582043732821</real>
		<key>latitude</key>
		<real>39.24382654735787</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84578494475986</real>
		<key>latitude</key>
		<real>39.24377361953283</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84568904128216</real>
		<key>latitude</key>
		<real>39.24354736703606</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84563267059688</real>
		<key>latitude</key>
		<real>39.24350430745034</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84554057133937</real>
		<key>latitude</key>
		<real>39.2434669913759</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84548629764915</real>
		<key>latitude</key>
		<real>39.2434533210163</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84542925133175</real>
		<key>latitude</key>
		<real>39.24345382336711</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8450604583616</real>
		<key>latitude</key>
		<real>39.24360836367165</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84504526177518</real>
		<key>latitude</key>
		<real>39.24362511476608</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84501578243984</real>
		<key>latitude</key>
		<real>39.24368496860242</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84505085403305</real>
		<key>latitude</key>
		<real>39.24378643464449</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84511495043589</real>
		<key>latitude</key>
		<real>39.24382673147259</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84519558776601</real>
		<key>latitude</key>
		<real>39.24384000889816</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84529232096686</real>
		<key>latitude</key>
		<real>39.24381612578944</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84541836684022</real>
		<key>latitude</key>
		<real>39.24379467438153</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84550005043137</real>
		<key>latitude</key>
		<real>39.24395427747695</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84571154547419</real>
		<key>latitude</key>
		<real>39.24414043212962</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84589793683794</real>
		<key>latitude</key>
		<real>39.24426658462102</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84599231165633</real>
		<key>latitude</key>
		<real>39.24431584826416</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84606475127326</real>
		<key>latitude</key>
		<real>39.24432653348783</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84614178866825</real>
		<key>latitude</key>
		<real>39.24433789690789</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84626108711905</real>
		<key>latitude</key>
		<real>39.24435549405548</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84638983389263</real>
		<key>latitude</key>
		<real>39.24435362228052</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84650144581707</real>
		<key>latitude</key>
		<real>39.24429807053401</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84663911694956</real>
		<key>latitude</key>
		<real>39.24422149144427</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84671028373752</real>
		<key>latitude</key>
		<real>39.24414197066184</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84677249580527</real>
		<key>latitude</key>
		<real>39.24405368604151</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84683152250456</real>
		<key>latitude</key>
		<real>39.24390984299539</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84684647784789</real>
		<key>latitude</key>
		<real>39.24342823018762</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84689652390804</real>
		<key>latitude</key>
		<real>39.24309699308277</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84692858655251</real>
		<key>latitude</key>
		<real>39.24280780491109</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84707694412761</real>
		<key>latitude</key>
		<real>39.24192942409222</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84715453714271</real>
		<key>latitude</key>
		<real>39.24102449245654</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84720237343949</real>
		<key>latitude</key>
		<real>39.24062436408742</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84722031841773</real>
		<key>latitude</key>
		<real>39.24029145327898</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84729576148642</real>
		<key>latitude</key>
		<real>39.24008708624125</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.847449888613</real>
		<key>latitude</key>
		<real>39.23993452490952</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84810461959975</real>
		<key>latitude</key>
		<real>39.23995708559905</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84828649367924</real>
		<key>latitude</key>
		<real>39.23994473890741</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84831606236556</real>
		<key>latitude</key>
		<real>39.24013039051651</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84835293977082</real>
		<key>latitude</key>
		<real>39.24028069661914</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85150872508325</real>
		<key>latitude</key>
		<real>39.2412176186952</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85123436898152</real>
		<key>latitude</key>
		<real>39.24147038041811</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85050425673505</real>
		<key>latitude</key>
		<real>39.24126214454684</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85026543389375</real>
		<key>latitude</key>
		<real>39.24181305547184</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85022242720976</real>
		<key>latitude</key>
		<real>39.24211673145103</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85018150715173</real>
		<key>latitude</key>
		<real>39.242410767804</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84967825781722</real>
		<key>latitude</key>
		<real>39.24290830725874</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8516625716792</real>
		<key>latitude</key>
		<real>39.24374568901464</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85192451153344</real>
		<key>latitude</key>
		<real>39.2435041600701</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85248965831707</real>
		<key>latitude</key>
		<real>39.24454221616443</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85302115955818</real>
		<key>latitude</key>
		<real>39.24486911193056</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85426728164698</real>
		<key>latitude</key>
		<real>39.24492289419026</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85504606636252</real>
		<key>latitude</key>
		<real>39.24510384680831</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85470522644037</real>
		<key>latitude</key>
		<real>39.24653529776382</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85461961361122</real>
		<key>latitude</key>
		<real>39.24696266420148</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85414023688031</real>
		<key>latitude</key>
		<real>39.24740882645464</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85414023688031</real>
		<key>latitude</key>
		<real>39.24740882645464</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85223056476954</real>
		<key>latitude</key>
		<real>39.24837950035921</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85081601532433</real>
		<key>latitude</key>
		<real>39.24976378193146</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85182375479852</real>
		<key>latitude</key>
		<real>39.2511800546341</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85212791261307</real>
		<key>latitude</key>
		<real>39.2515211299673</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85392649408817</real>
		<key>latitude</key>
		<real>39.24983679563785</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85500249466821</real>
		<key>latitude</key>
		<real>39.2487284696639</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85600635204949</real>
		<key>latitude</key>
		<real>39.24699812101407</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85955363215048</real>
		<key>latitude</key>
		<real>39.24717597828008</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85984946954662</real>
		<key>latitude</key>
		<real>39.24441383096119</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86725426363573</real>
		<key>latitude</key>
		<real>39.24397728710344</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86720521786791</real>
		<key>latitude</key>
		<real>39.24304635546865</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86727102167526</real>
		<key>latitude</key>
		<real>39.24275193775892</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86741828087618</real>
		<key>latitude</key>
		<real>39.2424700685106</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86758652153651</real>
		<key>latitude</key>
		<real>39.24201867990339</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86806532795757</real>
		<key>latitude</key>
		<real>39.24125828499898</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8682716639649</real>
		<key>latitude</key>
		<real>39.24087684437605</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86821382752017</real>
		<key>latitude</key>
		<real>39.24086151256906</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86839108633504</real>
		<key>latitude</key>
		<real>39.24055717704902</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86848271448046</real>
		<key>latitude</key>
		<real>39.2401804284542</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86852268935114</real>
		<key>latitude</key>
		<real>39.23979719374141</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86852108710011</real>
		<key>latitude</key>
		<real>39.23954649338974</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8685040720349</real>
		<key>latitude</key>
		<real>39.23924917153234</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8682886132129</real>
		<key>latitude</key>
		<real>39.23675399604495</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86821409211572</real>
		<key>latitude</key>
		<real>39.23626617471173</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86818898038571</real>
		<key>latitude</key>
		<real>39.23587884899129</real>
	</dict>
</array>
</plist>
