<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-76.86064065437363</real>
		<key>latitude</key>
		<real>39.29407597193044</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85977941320454</real>
		<key>latitude</key>
		<real>39.29400263141253</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85932346168728</real>
		<key>latitude</key>
		<real>39.2939643214389</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85909290332589</real>
		<key>latitude</key>
		<real>39.29394395742793</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85647608504289</real>
		<key>latitude</key>
		<real>39.2937334845404</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85638205570127</real>
		<key>latitude</key>
		<real>39.2942090466474</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85627125206356</real>
		<key>latitude</key>
		<real>39.29530730696924</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8562451245491</real>
		<key>latitude</key>
		<real>39.29544306787781</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85615844579085</real>
		<key>latitude</key>
		<real>39.29586158949162</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8570288766586</real>
		<key>latitude</key>
		<real>39.29600246234382</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86048649772141</real>
		<key>latitude</key>
		<real>39.29674504277783</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86271526104994</real>
		<key>latitude</key>
		<real>39.29545252395132</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86285599999999</real>
		<key>latitude</key>
		<real>39.295735</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864842</real>
		<key>latitude</key>
		<real>39.295871</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.865578</real>
		<key>latitude</key>
		<real>39.294563</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.865791</real>
		<key>latitude</key>
		<real>39.294185</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86620600000002</real>
		<key>latitude</key>
		<real>39.293051</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866232</real>
		<key>latitude</key>
		<real>39.293066</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868444</real>
		<key>latitude</key>
		<real>39.294353</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87081000000001</real>
		<key>latitude</key>
		<real>39.294393</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.873284</real>
		<key>latitude</key>
		<real>39.293293</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87337599999999</real>
		<key>latitude</key>
		<real>39.293167</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87378699999999</real>
		<key>latitude</key>
		<real>39.292427</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.873891</real>
		<key>latitude</key>
		<real>39.292095</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875528</real>
		<key>latitude</key>
		<real>39.291974</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.876138</real>
		<key>latitude</key>
		<real>39.291929</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87621</real>
		<key>latitude</key>
		<real>39.292204</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87654499999999</real>
		<key>latitude</key>
		<real>39.292349</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.876688</real>
		<key>latitude</key>
		<real>39.292326</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.876876</real>
		<key>latitude</key>
		<real>39.292404</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.878669</real>
		<key>latitude</key>
		<real>39.293156</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87931500000001</real>
		<key>latitude</key>
		<real>39.293427</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880584</real>
		<key>latitude</key>
		<real>39.294182</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.881045</real>
		<key>latitude</key>
		<real>39.294273</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.881711</real>
		<key>latitude</key>
		<real>39.294651</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88220200000001</real>
		<key>latitude</key>
		<real>39.294137</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.882777</real>
		<key>latitude</key>
		<real>39.293753</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.882907</real>
		<key>latitude</key>
		<real>39.293709</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88370999999999</real>
		<key>latitude</key>
		<real>39.293854</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884181</real>
		<key>latitude</key>
		<real>39.293852</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884365</real>
		<key>latitude</key>
		<real>39.293889</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884812</real>
		<key>latitude</key>
		<real>39.293899</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884919</real>
		<key>latitude</key>
		<real>39.293674</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88517400000001</real>
		<key>latitude</key>
		<real>39.293391</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884992</real>
		<key>latitude</key>
		<real>39.293401</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884581</real>
		<key>latitude</key>
		<real>39.293422</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884164</real>
		<key>latitude</key>
		<real>39.293443</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.884095</real>
		<key>latitude</key>
		<real>39.293307</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88406500000001</real>
		<key>latitude</key>
		<real>39.293247</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.883871</real>
		<key>latitude</key>
		<real>39.292864</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88385599999999</real>
		<key>latitude</key>
		<real>39.292835</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.883487</real>
		<key>latitude</key>
		<real>39.292106</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88341699999999</real>
		<key>latitude</key>
		<real>39.292163</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.882884</real>
		<key>latitude</key>
		<real>39.292603</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88262899999999</real>
		<key>latitude</key>
		<real>39.292814</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88239900000001</real>
		<key>latitude</key>
		<real>39.293004</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.882153</real>
		<key>latitude</key>
		<real>39.293207</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.881895</real>
		<key>latitude</key>
		<real>39.293419</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88149300000001</real>
		<key>latitude</key>
		<real>39.293752</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.881383</real>
		<key>latitude</key>
		<real>39.293842</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.881049</real>
		<key>latitude</key>
		<real>39.293642</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880735</real>
		<key>latitude</key>
		<real>39.293452</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880728</real>
		<key>latitude</key>
		<real>39.293294</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880706</real>
		<key>latitude</key>
		<real>39.292828</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88069400000001</real>
		<key>latitude</key>
		<real>39.292575</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880674</real>
		<key>latitude</key>
		<real>39.292148</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88065</real>
		<key>latitude</key>
		<real>39.291639</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880639</real>
		<key>latitude</key>
		<real>39.291403</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88063699999999</real>
		<key>latitude</key>
		<real>39.29136</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.88126200000001</real>
		<key>latitude</key>
		<real>39.291051</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880881</real>
		<key>latitude</key>
		<real>39.290583</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880747</real>
		<key>latitude</key>
		<real>39.290648</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880242</real>
		<key>latitude</key>
		<real>39.290893</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87992800000001</real>
		<key>latitude</key>
		<real>39.291046</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879769</real>
		<key>latitude</key>
		<real>39.290976</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87957</real>
		<key>latitude</key>
		<real>39.290889</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879346</real>
		<key>latitude</key>
		<real>39.29079200000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87918999999999</real>
		<key>latitude</key>
		<real>39.290724</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879368</real>
		<key>latitude</key>
		<real>39.290384</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879515</real>
		<key>latitude</key>
		<real>39.290103</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879571</real>
		<key>latitude</key>
		<real>39.289996</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.880022</real>
		<key>latitude</key>
		<real>39.289133</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879721</real>
		<key>latitude</key>
		<real>39.289268</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879572</real>
		<key>latitude</key>
		<real>39.289335</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.879409</real>
		<key>latitude</key>
		<real>39.28940800000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87887499999999</real>
		<key>latitude</key>
		<real>39.289648</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87878000000001</real>
		<key>latitude</key>
		<real>39.28969</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.878423</real>
		<key>latitude</key>
		<real>39.28985</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.878367</real>
		<key>latitude</key>
		<real>39.289828</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.877882</real>
		<key>latitude</key>
		<real>39.289645</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.877388</real>
		<key>latitude</key>
		<real>39.289458</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.877144</real>
		<key>latitude</key>
		<real>39.289365</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87713599999999</real>
		<key>latitude</key>
		<real>39.289362</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.876552</real>
		<key>latitude</key>
		<real>39.28914</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87595500000002</real>
		<key>latitude</key>
		<real>39.289376</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875938</real>
		<key>latitude</key>
		<real>39.289383</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87592000000001</real>
		<key>latitude</key>
		<real>39.289389</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875789</real>
		<key>latitude</key>
		<real>39.289436</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875614</real>
		<key>latitude</key>
		<real>39.289482</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875433</real>
		<key>latitude</key>
		<real>39.289515</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.875249</real>
		<key>latitude</key>
		<real>39.289532</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87506399999999</real>
		<key>latitude</key>
		<real>39.289535</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87488</real>
		<key>latitude</key>
		<real>39.289522</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.874698</real>
		<key>latitude</key>
		<real>39.289494</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.874521</real>
		<key>latitude</key>
		<real>39.289452</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.874346</real>
		<key>latitude</key>
		<real>39.289396</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.874287</real>
		<key>latitude</key>
		<real>39.289371</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.874078</real>
		<key>latitude</key>
		<real>39.289808</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87402</real>
		<key>latitude</key>
		<real>39.289927</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.872506</real>
		<key>latitude</key>
		<real>39.289651</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87225599999999</real>
		<key>latitude</key>
		<real>39.289606</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.872517</real>
		<key>latitude</key>
		<real>39.288768</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.872618</real>
		<key>latitude</key>
		<real>39.288444</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.872659</real>
		<key>latitude</key>
		<real>39.288315</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87274499999999</real>
		<key>latitude</key>
		<real>39.288039</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.87251000000001</real>
		<key>latitude</key>
		<real>39.288</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.871858</real>
		<key>latitude</key>
		<real>39.28789200000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.870994</real>
		<key>latitude</key>
		<real>39.289039</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.870758</real>
		<key>latitude</key>
		<real>39.289349</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.870249</real>
		<key>latitude</key>
		<real>39.28926</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.869755</real>
		<key>latitude</key>
		<real>39.289174</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.869052</real>
		<key>latitude</key>
		<real>39.289052</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86909900000001</real>
		<key>latitude</key>
		<real>39.288914</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.869257</real>
		<key>latitude</key>
		<real>39.288445</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868319</real>
		<key>latitude</key>
		<real>39.288374</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86829000000002</real>
		<key>latitude</key>
		<real>39.287795</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868233</real>
		<key>latitude</key>
		<real>39.28771</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868172</real>
		<key>latitude</key>
		<real>39.287709</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868177</real>
		<key>latitude</key>
		<real>39.287815</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868178</real>
		<key>latitude</key>
		<real>39.287829</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.868213</real>
		<key>latitude</key>
		<real>39.28858400000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86823099999999</real>
		<key>latitude</key>
		<real>39.288945</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.867683</real>
		<key>latitude</key>
		<real>39.288957</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.867075</real>
		<key>latitude</key>
		<real>39.28897</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86696499999999</real>
		<key>latitude</key>
		<real>39.288811</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866715</real>
		<key>latitude</key>
		<real>39.288447</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86638600000001</real>
		<key>latitude</key>
		<real>39.287968</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866376</real>
		<key>latitude</key>
		<real>39.287969</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86632899999999</real>
		<key>latitude</key>
		<real>39.28802000000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866292</real>
		<key>latitude</key>
		<real>39.288088</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866157</real>
		<key>latitude</key>
		<real>39.28834</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.866039</real>
		<key>latitude</key>
		<real>39.288558</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86562499999999</real>
		<key>latitude</key>
		<real>39.289185</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86512500000001</real>
		<key>latitude</key>
		<real>39.289944</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86509700000001</real>
		<key>latitude</key>
		<real>39.289938</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864414</real>
		<key>latitude</key>
		<real>39.289204</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864419</real>
		<key>latitude</key>
		<real>39.289053</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864434</real>
		<key>latitude</key>
		<real>39.288576</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86412</real>
		<key>latitude</key>
		<real>39.288313</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864037</real>
		<key>latitude</key>
		<real>39.288244</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864375</real>
		<key>latitude</key>
		<real>39.288297</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86395600000002</real>
		<key>latitude</key>
		<real>39.287906</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86394199999999</real>
		<key>latitude</key>
		<real>39.28789200000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.863854</real>
		<key>latitude</key>
		<real>39.28781</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864</real>
		<key>latitude</key>
		<real>39.287139</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864029</real>
		<key>latitude</key>
		<real>39.287005</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.863674</real>
		<key>latitude</key>
		<real>39.286563</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8625</real>
		<key>latitude</key>
		<real>39.286597</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86304699999999</real>
		<key>latitude</key>
		<real>39.285923</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.862865</real>
		<key>latitude</key>
		<real>39.285696</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.862804</real>
		<key>latitude</key>
		<real>39.285729</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.862426</real>
		<key>latitude</key>
		<real>39.285324</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86144400000001</real>
		<key>latitude</key>
		<real>39.284837</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.861283</real>
		<key>latitude</key>
		<real>39.284442</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86119600000001</real>
		<key>latitude</key>
		<real>39.284225</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860952</real>
		<key>latitude</key>
		<real>39.283624</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860767</real>
		<key>latitude</key>
		<real>39.28316900000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860742</real>
		<key>latitude</key>
		<real>39.283107</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860764</real>
		<key>latitude</key>
		<real>39.283029</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860812</real>
		<key>latitude</key>
		<real>39.282858</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860828</real>
		<key>latitude</key>
		<real>39.282798</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860811</real>
		<key>latitude</key>
		<real>39.282798</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86008099999999</real>
		<key>latitude</key>
		<real>39.2828</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85997200000001</real>
		<key>latitude</key>
		<real>39.282448</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.859949</real>
		<key>latitude</key>
		<real>39.282443</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85910699999999</real>
		<key>latitude</key>
		<real>39.282259</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85896099999999</real>
		<key>latitude</key>
		<real>39.282898</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.858901</real>
		<key>latitude</key>
		<real>39.28321500000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85881999999999</real>
		<key>latitude</key>
		<real>39.283542</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.858598</real>
		<key>latitude</key>
		<real>39.284439</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.85960900000001</real>
		<key>latitude</key>
		<real>39.284545</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.859635</real>
		<key>latitude</key>
		<real>39.284449</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86048099999999</real>
		<key>latitude</key>
		<real>39.28542000000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.860609</real>
		<key>latitude</key>
		<real>39.285493</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.861709</real>
		<key>latitude</key>
		<real>39.286114</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86172000000001</real>
		<key>latitude</key>
		<real>39.286163</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.861763</real>
		<key>latitude</key>
		<real>39.286367</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86183700000001</real>
		<key>latitude</key>
		<real>39.286708</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.861909</real>
		<key>latitude</key>
		<real>39.287045</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.861983</real>
		<key>latitude</key>
		<real>39.287394</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.862058</real>
		<key>latitude</key>
		<real>39.287746</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.862154</real>
		<key>latitude</key>
		<real>39.2882</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86219699999999</real>
		<key>latitude</key>
		<real>39.288404</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86225</real>
		<key>latitude</key>
		<real>39.288658</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86248500000001</real>
		<key>latitude</key>
		<real>39.288916</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864414</real>
		<key>latitude</key>
		<real>39.290862</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864957</real>
		<key>latitude</key>
		<real>39.291052</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864769</real>
		<key>latitude</key>
		<real>39.291683</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86476500000001</real>
		<key>latitude</key>
		<real>39.291698</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86432499999999</real>
		<key>latitude</key>
		<real>39.29164</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864118</real>
		<key>latitude</key>
		<real>39.292291</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.864118</real>
		<key>latitude</key>
		<real>39.292292</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86403799999999</real>
		<key>latitude</key>
		<real>39.292838</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86397700000001</real>
		<key>latitude</key>
		<real>39.293258</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.863938</real>
		<key>latitude</key>
		<real>39.293529</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.863899</real>
		<key>latitude</key>
		<real>39.293807</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86385900000001</real>
		<key>latitude</key>
		<real>39.294075</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.863814</real>
		<key>latitude</key>
		<real>39.29438900000001</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86389522632847</real>
		<key>latitude</key>
		<real>39.29439704945598</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86381363553446</real>
		<key>latitude</key>
		<real>39.29438904357175</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86361512940502</real>
		<key>latitude</key>
		<real>39.2943695290997</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86311266319129</real>
		<key>latitude</key>
		<real>39.2943191272097</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86293793658409</real>
		<key>latitude</key>
		<real>39.29430204982194</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8624613170272</real>
		<key>latitude</key>
		<real>39.29425488932834</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86197125823621</real>
		<key>latitude</key>
		<real>39.29420610409447</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86162387593184</real>
		<key>latitude</key>
		<real>39.29417114459216</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86134886511827</real>
		<key>latitude</key>
		<real>39.29414350107024</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86099217675161</real>
		<key>latitude</key>
		<real>39.29410852871561</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86079470625829</real>
		<key>latitude</key>
		<real>39.29408901069994</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.86064065437363</real>
		<key>latitude</key>
		<real>39.29407597193044</real>
	</dict>
</array>
</plist>
