<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-76.84099678046481</real>
		<key>latitude</key>
		<real>39.11718137356107</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84204109634082</real>
		<key>latitude</key>
		<real>39.11697319573734</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84257033179084</real>
		<key>latitude</key>
		<real>39.11693935537978</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84272712488774</real>
		<key>latitude</key>
		<real>39.116937155272</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84299026875647</real>
		<key>latitude</key>
		<real>39.11688688465023</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84297709703628</real>
		<key>latitude</key>
		<real>39.11677919164486</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84301448455479</real>
		<key>latitude</key>
		<real>39.11666433444987</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8411483441888</real>
		<key>latitude</key>
		<real>39.11673654955612</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84101980811252</real>
		<key>latitude</key>
		<real>39.11471143507901</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83511203041013</real>
		<key>latitude</key>
		<real>39.11494996031433</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83519219080515</real>
		<key>latitude</key>
		<real>39.11507703365206</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83452731378253</real>
		<key>latitude</key>
		<real>39.11533805328055</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83489524054222</real>
		<key>latitude</key>
		<real>39.11591632311712</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83504423157483</real>
		<key>latitude</key>
		<real>39.11616402563838</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83516037053725</real>
		<key>latitude</key>
		<real>39.11634498729156</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8351768129138</real>
		<key>latitude</key>
		<real>39.11637152749187</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83530939502647</real>
		<key>latitude</key>
		<real>39.11657902918488</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83531145429092</real>
		<key>latitude</key>
		<real>39.11658063917414</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83531658942681</real>
		<key>latitude</key>
		<real>39.11659028896205</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83588393016429</real>
		<key>latitude</key>
		<real>39.11747659424272</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83589936567117</real>
		<key>latitude</key>
		<real>39.11749268680705</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83618718791561</real>
		<key>latitude</key>
		<real>39.11792700508158</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83694480385664</real>
		<key>latitude</key>
		<real>39.11906588452198</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83718329441022</real>
		<key>latitude</key>
		<real>39.11942620519022</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83723880599662</real>
		<key>latitude</key>
		<real>39.11950985119032</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83734674597467</real>
		<key>latitude</key>
		<real>39.11967231754487</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83745160284545</real>
		<key>latitude</key>
		<real>39.11982995823487</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83744643963357</real>
		<key>latitude</key>
		<real>39.11983236171394</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83737416381877</real>
		<key>latitude</key>
		<real>39.11986199267497</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83708754341208</real>
		<key>latitude</key>
		<real>39.1202472970879</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83708443772755</real>
		<key>latitude</key>
		<real>39.12025211405164</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83733081740013</real>
		<key>latitude</key>
		<real>39.12032236487762</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83788439932303</real>
		<key>latitude</key>
		<real>39.1204806271536</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8379977965693</real>
		<key>latitude</key>
		<real>39.12051292583725</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83811943169007</real>
		<key>latitude</key>
		<real>39.12055166416455</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8381536027137</real>
		<key>latitude</key>
		<real>39.12049465953954</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83823754211789</real>
		<key>latitude</key>
		<real>39.12032603060457</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83832152862446</real>
		<key>latitude</key>
		<real>39.12013650944981</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83850919990503</real>
		<key>latitude</key>
		<real>39.11971329899995</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8385247514435</real>
		<key>latitude</key>
		<real>39.11967876791086</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83862740070059</real>
		<key>latitude</key>
		<real>39.11944668423242</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83881920902508</real>
		<key>latitude</key>
		<real>39.1190170505395</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83891770660316</real>
		<key>latitude</key>
		<real>39.11879540697382</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83906321532008</real>
		<key>latitude</key>
		<real>39.11876748274434</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.8390706439796</real>
		<key>latitude</key>
		<real>39.11873216742436</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.83908618581653</real>
		<key>latitude</key>
		<real>39.11875888064593</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84130832722994</real>
		<key>latitude</key>
		<real>39.11833249999606</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84108324438165</real>
		<key>latitude</key>
		<real>39.11748631907047</real>
	</dict>
	<dict>
		<key>longitude</key>
		<real>-76.84099678046481</real>
		<key>latitude</key>
		<real>39.11718137356107</real>
	</dict>
</array>
</plist>
