<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
    <dict>
        <key>longitude</key>
        <real>-77.095796606376027</real>
        <key>latitude</key>
        <real>39.344467790944847</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.09586494298091</real>
        <key>latitude</key>
        <real>39.344496661079923</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.095444611315145</real>
        <key>latitude</key>
        <real>39.345118104980642</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.096015137726084</real>
        <key>latitude</key>
        <real>39.345369134454643</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.096493509492035</real>
        <key>latitude</key>
        <real>39.345576848073776</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.098363626121142</real>
        <key>latitude</key>
        <real>39.345708678549983</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.0984193283515</real>
        <key>latitude</key>
        <real>39.345580072705637</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.098705051100438</real>
        <key>latitude</key>
        <real>39.344916146073757</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.097897506631242</real>
        <key>latitude</key>
        <real>39.344636401375269</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.097286682549182</real>
        <key>latitude</key>
        <real>39.3444296065814</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.097066167935466</real>
        <key>latitude</key>
        <real>39.344356670757854</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.0968368937485</real>
        <key>latitude</key>
        <real>39.344688703446337</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.096188773334561</real>
        <key>latitude</key>
        <real>39.344448186858173</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.096237300317284</real>
        <key>latitude</key>
        <real>39.344367797598615</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.095951519032752</real>
        <key>latitude</key>
        <real>39.344239471900678</real>
    </dict>
    <dict>
        <key>longitude</key>
        <real>-77.095796606376027</real>
        <key>latitude</key>
        <real>39.344467790944847</real>
    </dict>
</array>
</plist>
