<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>radius</key>
		<string>20</string>
		<key>description</key>
		<string>Centennial Park</string>
		<key>latitude</key>
		<real>39.24243</real>
		<key>longitude</key>
		<real>-76.85794799999999</real>
	</dict>
	<dict>
		<key>radius</key>
		<integer>20</integer>
		<key>description</key>
		<string>Cedar Park</string>
		<key>latitude</key>
		<real>39.230297</real>
		<key>longitude</key>
		<real>-76.885071</real>
	</dict>
</array>
</plist>
