<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
<dict><key>longitude</key><real>-76.778877995971527</real><key>latitude</key><real>39.20523467265356</real></dict><dict><key>longitude</key><real>-76.778959633047677</real><key>latitude</key><real>39.205219559400518</real></dict><dict><key>longitude</key><real>-76.778969748255363</real><key>latitude</key><real>39.204956020533011</real></dict><dict><key>longitude</key><real>-76.778930091694576</real><key>latitude</key><real>39.204926493131069</real></dict><dict><key>longitude</key><real>-76.7788232392992</real><key>latitude</key><real>39.204916370215614</real></dict><dict><key>longitude</key><real>-76.778759162230159</real><key>latitude</key><real>39.204923482434552</real></dict><dict><key>longitude</key><real>-76.778877995971527</real><key>latitude</key><real>39.20523467265356</real></dict>
    </array>
</plist>
